<app-header></app-header>
<div class="conten">
  <div class="principal">
    <div class="text">
      <h1>Reciclaje Electrónico para un futuro sostenible</h1>
      <p>
        EcoSavers te ayuda a reciclar correctamente tus dispositivos
        electrónicos, encontrar puntos de reciclaje y contribuir a un planeta
        más limpio.
      </p>
      <a class="Location" href="#">Encontrar puntos </a>
      <a class="Recycle" href="#">Aprender a reciclar</a>
    </div>
    <img src="img/Homepage.jpeg" alt="Imagen de RAEE" />
  </div>
  <div class="secondary">
    <h1>¿Por que EcoSavers?</h1>
    <div class="boxes">
      <div class="locations">
        <h3>Puntos de Reciclaje</h3>
        <p>
          La localizacion facilitada que brinda EcoSavers para el reciclaje de
          residuos electronicos
        </p>
      </div>
      <div class="education">
        <h3>Educacion Ambiental</h3>
        <p>
          Aprende sobre el impacto del reciclaje electronico y como separar
          correctamente tus dispositivos
        </p>
      </div>
      <div class="companies">
        <h3>Empresas Certificadas</h3>
        <p>
          Conectamos a las empresas de reciclaje electronico certificadas que
          garantiza un manejo responsable de los residuos
        </p>
      </div>
    </div>
    <button class="AboutUs"><a href="#">Unete a EcoSavers</a></button>
  </div>
</div>

<app-footer></app-footer>
