.login-footer {
  margin-top: 2rem;
  font-size: 0.85rem;
  color: var(--color-white);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  a {
    color: var(--color-white);
    text-decoration: none;
    margin-left: 0.5rem;
  }
}
