:root {
  --color-primary: #2f6e4c;
  --color-secondary: #edf9d1;
  --color-accent: #109751;
  --color-dark: #373737;
  --color-white: #ffffff;
  --color-dark-primary: #214632;
  --color-lightgreen: #affad1;
}
